.board{
    display: flex;
    padding: 2% 5%;
    width: 90%;
    flex-wrap: wrap;
}

body {
    overflow-x: hidden;
}

.inputs {
    width: 80px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
    margin: 0 5px;
    font-size: large;
    text-transform: uppercase;
}

.Letters {
    font-size: 3.5rem;
    line-height: 10px;

}